<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learn.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.example.learn.entity.ScoreDO">
    <!--@mbg.generated-->
    <!--@Table t_score-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, score
  </sql>

  <update id="updateScore">
    update t_score set score=score-#{num} where id=1
    </update>
</mapper>